= wrap_layout :layout do
  %section.hero-container
    - data.heroimages.each do |img|
      %div
        =image_tag img.src
        - if img.caption
          .hero-caption(class="hero-caption-#{img.caption.position || 'top-left'}")
            %p.hero-caption-title
              = img.caption.title
            :markdown
              #{img.caption.description}
            - if img.caption.link
              %p
                = succeed '...' do
                  - if img.caption.link.article
                    = link_to_article img.caption.link.article, img.caption.link.title || nil
                  - else
                    = link_to img.caption.link.title || 'Read more', img.caption.link.url
  
  %section.arrow-tabs(data-current-tab="#{current_page.data.tabindex}")
    .arrow-tab
      = link_to "/index.html" do
        .arrow-tab-title Overview
    .arrow-tab.arrow-tab-banner-end
      = link_to "/admission/index.html" do
        .arrow-tab-title Admission
    .arrow-tab.arrow-tab-cta
      = link_to "/apply/index.html" do
        .arrow-tab-subtitle Start This Fall
        .arrow-tab-title Apply

  %section.main-content
    - if current_page.data.tab_content_video
      .top-content-video
        .video-wrapper
          %iframe(src="#{current_page.data.tab_content_video}" frameborder="0" allowfullscreen)

    .top-content-text.general-content
      =partial current_page.data.tab_content

    %hr

    .main-content-text.general-content
      =partial current_page.data.main_content

    %nav.main-content-sidebar.general-content
      =partial current_page.data.main_content_sidebar

    .clearfix
