.footer
  .footer-container
    .footer-column
      %ul.footer-contacts
        %li
          %strong> Address
          =": 25800 Carlos Bee Blvd, Hayward, CA 94542"
        %li
          %strong> Phone
          =": (510) 936-2781"
    .footer-column
      %ul
        %li= link_to "Home", "/index.html"
        %li= link_to_article "student-works", "Student Works"
        %li= link_to_article "facilities", "Facilities"
        %li= link_to_article "faculty", "Faculty"
    .footer-column
      %ul
        %li= link_to_article "curriculum", "Curriculum"
        %li= link_to_article "apply", "Apply"
        %li= link_to_article "contact", "Contact"
    .footer-column
      %ul.footer-social-networks
        %li
          = link_to "Like us on Facebook", "https://www.facebook.com/csuebmultimedia/",
                    :title => "Like us on Facebook",
                    :class => "social-facebook"
        %li
          = link_to "Like us on Facebook", "https://www.facebook.com/csuebmultimedia/",
                    :title => "Like us on Facebook",
                    :class => "social-facebook"
