.footer
  .footer-container
    .footer-column
      %ul.footer-contacts
        %li
          %strong> Address
          =": 25800 Carlos Bee Blvd, Hayward, CA 94542"
        %li
          %strong> Phone
          =": (510) 885-3111"
    .footer-column
      %ul
        %li= link_to "Home", "/index.html"
        %li= link_to "Student Work", "#"
        %li= link_to "Facilities", "#"
        %li= link_to "Faculty", "#"
    .footer-column
      %ul
        %li= link_to "Curriculum", article("curriculum.md")
        %li= link_to "Apply", "#"
        %li= link_to "Contact", "#"
    .footer-column
      %ul.footer-social-networks
        %li
          = link_to "Like us on Facebook", "http://on.fb.me/1O4YULQ",
                    :title => "Like us on Facebook",
                    :class => "social-facebook"
        %li
          = link_to "Like us on Facebook", "http://on.fb.me/1O4YULQ",
                    :title => "Like us on Facebook",
                    :class => "social-facebook"
