.header
  %nav.top-bar(data-topbar role="navigation")
    %ul.title-area
      %li.top-bar-logo
        %h1= link_to "Multimedia Graduate Program", "/index.html"
      %li.toggle-topbar.menu-icon
        = link_to "#" do
          %span Menu
    %section.top-bar-section
      %ul.left
        %li= link_to "Home", "/index.html"
        %li= link_to_article "curriculum", "Curriculum"
        %li= link_to_article "faculty", "Faculty & Staff"
        %li= link_to_article "projects", "Research & Projects"
        %li= link_to_article "forum", "Forum"
        %li= link_to_article "gamejam", "Game Jam"
      %ul.right
        %li.show-for-medium-up
          = link_to "https://www.facebook.com/csuebmultimedia/",
                    :title => "Like us on Facebook" do
            %span.social-facebook Like us on Facebook
        %li= link_to_article "contact", "Contact"
