.header
  %nav.top-bar(data-topbar role="navigation")
    %ul.title-area
      %li.top-bar-logo
        %h1= link_to "Multimedia Graduate Program", "/"
      %li.toggle-topbar.menu-icon
        = link_to "#" do
          %span Menu
    %section.top-bar-section
      %ul.left
        %li= link_to "Home", "/"
        %li= link_to "Student Work", "#"
        %li= link_to "Faculty & Staff", "#"
      %ul.right
        %li.show-for-medium-up
          = link_to "http://on.fb.me/1O4YULQ",
                    :title => "Like us on Facebook" do
            %span.social-facebook Like us on Facebook
        %li= link_to "Contact", "#"
