%nav.navbar
  %ul.navbar-items
    %li.navbar-item-logo
      %h1= link_to "Multimedia Graduate Program", "#"
    %li= link_to "Home", "/"
    %li= link_to "Student Work", "#"
    %li= link_to "Faculty & Staff", "#"
    %li.navbar-item-right= link_to "Contact", "#"
    %li.navbar-item-right
      = link_to "Like us on Facebook", "http://on.fb.me/1O4YULQ",
                :title => "Like us on Facebook",
                :class => "social-facebook"
