.header
  %nav.top-bar(data-topbar role="navigation")
    %ul.title-area
      %li.top-bar-logo
        %h1= link_to "Multimedia Graduate Program", "/index.html"
      %li.toggle-topbar.menu-icon
        = link_to "#" do
          %span Menu
    %section.top-bar-section
      %ul.left
        %li= link_to "Home", "/index.html"
        %li= link_to_article "student-works", "Student Work"
        %li= link_to_article "faculty", "Faculty & Staff"
        %li= link_to_article "forum", "Forum"
        %li= link_to_article "gamejam", "Game Jam"
        %li= link_to_article "curriculum", "Curriculum"
      %ul.right
        %li.show-for-medium-up
          = link_to "http://on.fb.me/1O4YULQ",
                    :title => "Like us on Facebook" do
            %span.social-facebook Like us on Facebook
        %li= link_to_article "contact", "Contact"
