---
title: Welcome to Middleman
---

.hero-container
  - (1..6).each do |i|
    %div
      =image_tag "bg#{i}.jpg"
      .caption Caption#{i}

.arrow-tabs
  .arrow-tab
    = link_to "#" do
      .arrow-tab-title Overview
  .arrow-tab.arrow-tab-banner-end
    = link_to "#" do
      .arrow-tab-title Admission
  .arrow-tab.arrow-tab-cta
    = link_to "#" do
      .arrow-tab-subtitle Start This Fall
      .arrow-tab-title Apply
