---
title: Welcome to Middleman
---

%section.hero-container
  %div
    =image_tag "bg1.jpg"
    .hero-caption.hero-caption-top-left
      %p.hero-caption-title
        = lorem.words(2)
      %p
        = lorem.sentences 3
      %p
        = succeed '...' do
          = link_to 'Read more', '#'
  %div
    =image_tag "bg2.jpg"
    .hero-caption.hero-caption-bottom-left
      %p.hero-caption-title
        = lorem.words(2)
      %p
        = lorem.sentences 3
      %p
        = succeed '...' do
          = link_to 'Continue read', '#'
  %div
    =image_tag "bg3.jpg"
    .hero-caption.hero-caption-top-right
      %p.hero-caption-title
        = lorem.words(2)
      %p
        = lorem.sentences 3
      %p
        = succeed '...' do
          = link_to 'Read more', '#'
  %div
    =image_tag "bg4.jpg"
    .hero-caption.hero-caption-bottom-right
      %p.hero-caption-title
        = lorem.words(2)
      %p
        = lorem.sentences 3
      %p
        = succeed '...' do
          = link_to 'Read more', '#'
  %div
    =image_tag "bg5.jpg"
  %div
    =image_tag "bg6.jpg"

%section.arrow-tabs(data-current-tab="1")
  .arrow-tab
    = link_to "#" do
      .arrow-tab-title Overview
  .arrow-tab.arrow-tab-banner-end
    = link_to "#" do
      .arrow-tab-title Admission
  .arrow-tab.arrow-tab-cta
    = link_to "#" do
      .arrow-tab-subtitle Start This Fall
      .arrow-tab-title Apply

%section.tab-content
  .tab-content-video
    .video-wrapper
      %iframe(src="https://www.youtube.com/embed/mlcBTC4lVJU" frameborder="0" allowfullscreen)
  .tab-content-text
    %h2 Interactive Content Development
    %p.sub-title at California State University, East Bay
    %p
      The Multimedia Graduate Program at California State University, East Bay provides artists and musicians from diverse media backgrounds an opportunity to work collaboratively while pursuing an M.A. in Multimedia.
    %p>
      =link_to "Continue Read...", "#", :class => "tab-content-read-more"

%section.main-content
  %nav.main-content-sidebar
    %ul.sidebar-items
      - (1..10).each do |i|
        %li
          =link_to "#" do
            .item-date 11/5/2015
            .item-title= lorem.words 4
  %article.main-content-text
    %h3= lorem.words 5
    %p= lorem.sentences 6
    %h3= lorem.words 3
    %p= lorem.sentences 3
    %h3= lorem.words 7
    %p= lorem.sentences 12
    %p>
      %u underline
      =link_to "a link", "#"
